VITE_FIREBASE_API_KEY=dein_api_key
VITE_FIREBASE_AUTH_DOMAIN=dein_projekt.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dein_projekt
VITE_FIREBASE_STORAGE_BUCKET=dein_projekt.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=deine_sender_id
VITE_FIREBASE_APP_ID=deine_app_id
